# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\[2] Projekte\[1] Java\[1] IntelliJ\[1] Personal\advent-of-code\.idea/dataSources/
/dataSources.local.xml
